body{
	background-image:url("main1.jpg");
	background-repeat: no-repeat;
	background: no-repeat center center cover;
	min-height: 100%;
	height: auto;
	width: auto;
	font-family: Poppins, sans-serif;
	min-height: calc(100vh - 120px);
}
.head{
	width: 80%;
	height:auto;
	border-radius: 15px;
	background-color: #142745;
	opacity: 0.85;
}

h1 {
	text-align: center;
	font-size: auto;
	font-weight: bold;
	color: white;
	opacity: 1;
}
.container {
	position: center;
	height: auto;
	width: auto;
}
table, .lines{
	border-style: hidden;
}
form:hover {
	opacity: 1;
}
form {
	opacity: 0.9;
}
footer {
	background-color: #142745;
	color: white;
	text-align: center;
	border-radius: 10px;
	opacity: 0.8;
	height: 25px;
	position: absolute;
    	left: 0;
   	bottom: 0;
	overflow:hidden;
}
