body{
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
}
.head{
	width: auto;
	border-radius: 15px;
	background-color: #142745;
	opacity: 0.85;
	margin: 30px;
}
h1 {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	color: white;
	opacity: 1;
}
.container {
	width: auto;
}
ul {
	list-style-type: none;
	width: auto;
}
li{
	display: inline-block;
	width: auto;
}
img {
	width: relative;
}
