
html {
	width: 100%;
	max-width: 1980px;
}
.clock {
	opacity: 0.85;
	background-color:#142745;
	width: 250px;
	border-radius: 15px;
	position: fixed;
}
body {
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	font-family: 'Poppins', sans-serif;
	color: #5a5a5a;
}

#intro {
	height: auto;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 85px;
}
.one {
	background-color: #f0f0f0;
	margin-top: 50px;
	margin-bottom: 25px;
	box-shadow: 3px 3px 3px #888888;
	border-radius: 15px;
	padding: 10px;
	width: 95%;
}
.two {
	background-color: #fff;
	margin-top: 25px;
	margin-bottom: 25px;
	box-shadow: 3px 3px 3px #888888;
	width: 95%;
	border-radius: 15px;
	padding: 10px;
}
.five {
	background-color: #dcdcdc;
	margin-top: 25px;
	margin-bottom: 25px;
	box-shadow: 3px 3px 3px #888888;
	width: 95%;
	border-radius: 15px;
	padding: 10px;
}
.line {
	width: auto;
	text-align: center;
}
.ceo {
border-style: hidden;
text-align: center;
font-size: 20px;
}
.name {
	color: black;
	text-align: center;
}
embed:hover {
	opacity: 0;
}

.menu {
	background-color: transparent;
	font-size: 25px;
}
.move {
	width:35%;
}
.first {
	width: 30%;
	background-color:#F0E68C;
	padding: 1em;
	text-align: center;
	border-radius: 10px;
	border-style: hidden;
	font-size: 20px;
}
.second {
	width: 30%;
	background-color:#FFE4B5;
	padding: 1em;
	text-align: center;
	border-radius: 10px;
	border-style: hidden;
	font-size: 20px;
}
.third {
	width: 30%;
	background-color:#FFFFE0;
	padding: 1em;
	text-align: center;
	border-radius: 10px;
	border-style: hidden;
	font-size: 20px;
}
a:link {
    text-decoration: none;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}

a:hover {
    	text-decoration: underline;
	color: black;
}

a:active {
    text-decoration: none;
	color: black;
}

.white{
	margin-top: 40px;
}
p {
	font-size: 23px;
	text-align: center;
}
.pics{
	width: 300px;
	height: 550px;
}
.phones {
	padding: 1em;
	text-align: center;
	border-style: ridge;
	border-radius: 10px;
	border-color: white;
	font-size: 1.1em;
}
.showRoom {
	height: 400px;
	width: 250px;
}
.gear {
	font-size: 30px;
	text-align: center;
}
.back {
	height: 75px;
	width: 200px;
	outline: 10px;
	cursor: pointer;
}


.GoToTop {
	position:fixed;
    	bottom:25px;
    	right:60px;
	height:50px;
	width:60px;
	opacity: 0.4;
}
.GoToTop:hover {
	opacity: 0.9;
}
th {
	font-size: 2em;
}
li {
	display: inline-block;
    text-align: center;
    padding: 0.001%;
	font-size: 25px;
	font-weight: bold;
	font-family:Verdana;
	margin-left: 10px;
}
ul {
    list-style-type: none;
    margin-bottom: 15px;
}

.button {
	background-image: url("button background.png");
	background-position: center;
	border-radius: 15px;
	padding: 20px;
	color: white;
	opacity: 0.65;
}
.button:hover {
	opacity: 1;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
}

#panel {
    padding: 50px;
    display: none;
}
.spec{
	
	width: 300px;
	height: 60px;
	font-size: 30px;
	background-color: black;
	color: white;
    	border: none;
    	padding: 15px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 30px;
    	margin: 4px 2px;
	margin-top: 20px;
    	cursor: pointer;
	border-radius: 15px;
	
}
.spec:hover {
	width: 325px;
	height:70px;
}
object, iframe {
	border-radius: 15px;
}

 footer{
	width: 100%;
	box-shadow: 3px 3px 3px #888888;
	background-color: #C0C0C0;
	border-radius: 15px;
}
.footer {
	text-align:center;
	font-size: 22px;
}


